body {
    font-family: Arial, sans-serif;
}

#container {
    width: 500px;
    margin: 15px auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul > li {
    padding-bottom: 6px;
}

#new_todo {
    padding: 8px;
    border-radius: 3px;
    width: 490px;
    margin: 0 auto 15px;
    font-size: 16px;
}

li#todo_template {
    display: none;
}

.delete_todo {
    float: right;
    display: inline-block;
    color: #ccc;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

